[submodule "providers/virtualbox-provider"]
	path = providers/virtualbox-provider
	url = https://github.com/iammuhit/vagrant-virtualbox-provider.git
[submodule "providers/vmware-provider"]
	path = providers/vmware-provider
	url = https://github.com/iammuhit/vagrant-vmware-provider.git
[submodule "providers/docker-provider"]
	path = providers/docker-provider
	url = https://github.com/iammuhit/vagrant-docker-provider.git
[submodule "provisioners/file-provisioner"]
	path = provisioners/file-provisioner
	url = https://github.com/iammuhit/vagrant-file-provisioner.git
[submodule "provisioners/shell-provisioner"]
	path = provisioners/shell-provisioner
	url = https://github.com/iammuhit/vagrant-shell-provisioner.git
[submodule "provisioners/ansible-provisioner"]
	path = provisioners/ansible-provisioner
	url = https://github.com/iammuhit/vagrant-ansible-provisioner.git
[submodule "provisioners/docker-provisioner"]
	path = provisioners/docker-provisioner
	url = https://github.com/iammuhit/vagrant-docker-provisioner.git
[submodule "plugins/env-plugin"]
	path = plugins/env-plugin
	url = https://github.com/iammuhit/vagrant-env-plugin.git
